.App {
  text-align: center;
}

.header {
  width: 100%;
  height: 75px;
  background-color: white;
}

.middle {
  width: 100%;
  height: 350px;
  background-color: #0074b1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
